<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <footer>
        <div class="container">
            <div class="footer__wrapper">
                <ul class="footer__column__one">
                    <div class="footer__logo">
                        <img src="./imgs/image.png" alt="logo-img">
                    </div>
                    <li>
                        <a class="footer-a" href="#">OGstyle - магазин по продаже оригинальной одежды и обуви мировых
                            брендов</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">+7 (902) 041-63-39</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">admin@gmail.com</a>
                    </li>
                    <li class="footer-icon-wrapper">
                        <a class="footer-a footer-icon" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a class="footer-a footer-icon" href="#"><i class="fa-brands fa-telegram"></i></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="footer-a" href="#">Кроссовки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Футболки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Тапочки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Куртки</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="footer-a" href="#">Кроссовки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Футболки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Тапочки</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Куртки</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="footer-a" href="#">Оплата и доставка</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Обмен и возврат</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Оригинал 100%</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="footer-a" href="#">О компании</a>
                    </li>
                    <li>
                        <a class="footer-a" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer-last">
                <p>© OGstyle 2023</p>
                <p>Политика конфиденциальности</p>
                <p>Разработано ООО “Maxocom”</p>
            </div>
        </div>
    </footer>
</body>

</html>