* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 4450px;
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 50px;
    gap: 160px;
}

.container_nike {
    display: flex;
    justify-content: space-around;
    width: 1720px;
    height: 700px;
    border-radius: 12px;
    background: radial-gradient(#6E2F9E, #8E9AE1, #DD61AF, #EEF2A8);
}

.nike_text {
    width: 801px;
    height: 335x;
    top: 182px;
    left: 80px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.nike_text,
h2 {
    font-family: Inter, sans-serif;
    font-size: 2vw;
    line-height: 1.1;
    color: #ffffff;
    font-weight: 700;
}

.nike_text,
p {
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-size: 1.5vw;
    line-height: 1.5;
    letter-spacing: 1%;
    color: #ffffff;
}

#more {
    display: flex;
    font-size: 22px;
    width: 272px;
    height: 54px;
    border-radius: 12px;
    padding: 16px 80px;
    gap: 10px;
    border-color: transparent;
    background-color: #ffff;
}

#more:hover {
    background-color: #EFEFEF;
}

#more:active {
    background-color: #FF4F4F;
}

#nike_sneakers {
    top: 12px;
    left: 953px;
}

#main_logo {
    width: 647px;
    height: 650px;
    motion-rotation: -0deg;
    scale: crop;
}

#nike_logo_main {
    position: absolute;
    width: 245px;
    height: 130px;
    top: 137px;
    left: 1471px;
}

#logos {
    width: 1720px;
    height: 140px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
}

#logos,
img {
    width: 270px;
    height: 140px;
    border-radius: 12px;
}

.cards {
    width: 415px;
    height: 430px;
    gap: 20px;
}

.cards, p{
    color: black;
}