*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container_nike{
    display: flex;
    justify-content: space-around;
    width: 1720px;
    height: 700px;
    border-radius: 12px;
    background:radial-gradient(#6E2F9E , #8E9AE1, #DD61AF, #EEF2A8)
}
.nike_text, h2{
    font-family: Inter;
    size: 48px;
    line-height: 52.8px;
    letter-spacing: 1%;
    color: #ffff;
}