*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container_nike{
    width: 1720px;
    height: 700px;
    border-radius: 12px;
    background:radial-gradient(#6E2F9E , #8E9AE1, #DD61AF, #EEF2A8)
}