*,
::after,
::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.container {
  margin: 0 48px;
}
/* c - color  */
:root {
  --link-c-grey: rgba(113, 105, 105, 1);
  --link-c-black: rgba(43, 41, 41, 1);
  --whatsup-c: #25d366;
  --tg-c: #0088cc;
  --sms-c: #ffcc00;
  --phone: #4caf50;
  --grey: #464646;
  --white: #e1e1e1;
  --slash-c: #716969;
  --color-direction: #2b2929;
  --black: #464646;
  --white-h1: #ffffff;
  --border-white: #efefef;
  --border-white: #efefef;
}
.main__icon__slash-span {
  margin: 0 3px;
  color: var(--slash-c);
}
.wrapper-direction-a-one {
  color: var(--slash-c);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.wrapper-direction-a-two {
  color: var(--color-direction);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.wrapper-li-bars a {
  color: var(--link-c-grey);
  border-color: var(--link-c-grey);
}
.wrapper-li-bars {
  border-color: var(--link-c-grey);
}

.main__icon__slash-span {
  margin: 0 3px;
  color: var(--slash-c);
}
.wrapper-direction-a-one {
  color: var(--slash-c);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.wrapper-direction-a-two {
  color: var(--color-direction);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}

.main__part {
  display: flex;
  justify-content: space-between;
}
.main__part__one {
  width: 50%;
}
.main__part__img {
  width: 90%;
}
.main__part__two {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.main__part__one-h1 {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-direction);
  margin-bottom: 80px;
}
.main__part__one-h2 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: 0.01em;
  text-align: left;
}
.main__part__one-span {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--black);
}
.box__title__wrapper {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--white);
}
.main__box__in {
  margin-top: 24px;
  display: flex;
}
.mbox-one {
  width: 50%;
}
.mbox-two {
  width: 29%;
}
.mbox-one-h3 {
  margin: 8px 0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-direction);
}
.mbox-two-span {
  display: block;
  margin: 8px 0;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--color-direction);
}

.rgb-background {
  background: linear-gradient(
    268.03deg,
    #efefef 0.6%,
    #cb9a63 29.26%,
    #d76598 42.57%,
    #46527f 56.39%,
    #1e9190 70.21%,
    #4a5976 85.57%,
    #5f3f6b 98.87%
  );
  margin: 160px 0;
  border-radius: 12px;
  text-align: center;
  padding: 103px 0;
}
.checkbox {
  display: flex;
  justify-content: center;
}
.rgb-background-h1 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white-h1);
}
.rgb-background-span {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 19.8px;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--white-h1);
  display: block;
  margin: 8px 0 40px;
}
.input {
  width: 30%;
  background: transparent;
  width: Fixed (560px) px;
  height: Hug (54px) px;
  padding: 16px 0px 16px 24px;
  gap: 10px;
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  border: 1px solid var(--border-white);
  color: var(--border-white);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
}
.input::placeholder {
  color: var(--border-white);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
}
.button {
  width: 30%;
  margin: 25px;
  padding: 20px 0;
  border-radius: 12px;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.checkbox-input {
  appearance: none;
  width: 15px;
  border: 1px solid var(--border-white);
  background-color: transparent;
}
.checkbox-input-p {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 200;
  line-height: 14.4px;
  color: var(--border-white);
  margin-left: 10px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 48px 0;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  flex-wrap: wrap;
}
.footer-a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.01em;
  text-align: center;

  color: var(--grey);
  margin: 8px 0;
  display: inline-block;
}
.footer-icon-wrapper {
  display: flex;
}
.footer-icon {
  margin: 3px;
  padding: 5px;
  width: 35px;
  display: block;
  text-align: center;
  border-radius: 50%;
}
.footer-last {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  flex-wrap: wrap;
}



@media screen and (max-width: 1308px) {
  .main__part {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1180px) {
  .main__part {
    flex-direction: column;
    align-items: center;
  }
  .main__part__one {
    order: 1;
    width: 90%;
  }
  .main__part__img {
    border-radius: 22px;
  }
  .main__part__two {
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .input,
  .button {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .main__part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .classes__wrapper {
    margin: 10px 0;
  }
}
